# MaxScale documentation:
# https://mariadb.com/kb/en/mariadb-enterprise/mariadb-maxscale-23/

# Global parameters
#
# Complete list of configuration options:
# https://mariadb.com/kb/en/mariadb-maxscale-23-mariadb-maxscale-configuration-usage-scenarios/

[maxscale]

# Server definitions
#
# Set the address of the server to the network
# address of a MariaDB server.
#
[server1]
type=server
address=172.20.0.2
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=172.20.0.3
port=3306
protocol=MariaDBBackend

[server3]
type=server
address=172.20.0.4
port=3306
protocol=MariaDBBackend

[server4]
type=server
address=172.20.0.5
port=3306
protocol=MariaDBBackend

# Monitor for the servers
#
# This will keep MaxScale aware of the state of the servers.
# MariaDB Monitor documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-23-mariadb-monitor/

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3,server4
user=maxuser
password=letmein
replication_user=repuser
replication_password=letmein
auto_failover=true
auto_rejoin=true
monitor_interval=100
#backend_connect_timeout=2
#backend_write_timeout=2
#backend_read_timeout=2
#backend_connect_attempts=1
#detect_standalone_master=true
failcount=2
switchover_timeout=20
failover_timeout=20

# Service definitions
#
# Service Definition for a read-only service and
# a read/write splitting service.
#
# ReadConnRoute documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-23-readconnroute/

# ReadWriteSplit documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-23-readwritesplit/

[Read-Write-Service]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=maxuser
password=letmein
master_reconnection=1
delayed_retry=1
#causal_reads=true
#transaction_replay=true

[replication-service]
type=service
router=binlogrouter
user=maxuser
password=letmein
#version_string=10.4.12-MariaDB-log
server_id=1
master_id=1
mariadb10_master_gtid=true
filestem=binlog
binlogdir=/var/lib/maxscale/binlogs
#semisync=true # if semisync is enabled on the master
 
#
# This service enables the use of the MaxAdmin interface
# MaxScale administration guide:
# https://mariadb.com/kb/en/mariadb-maxscale-23-maxadmin-admin-interface/
#
# Listener definitions for the services
#
# These listeners represent the ports the
# services will listen on.
#

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=4006

[binlog-server-listener]
type=listener
service=replication-service
protocol=MariaDBClient
port=5306
address=0.0.0.0
